<header id="xmascHeader"></header>
<div class="magellan-wrapper">
  <form id="impForm" {{bind-attr class="view.magellan"}}>
    <div class="row collapse prefix-round postfix-round">
      <div class="small-3 columns">
        {{view "select" name="calendar" prompt="Kalender" value=impCalendar content=calendars classNameBindings=":prefix calendarError:error"}}
        {{#if calendarError}}
          <small class="error">{{calendarError}}</small>
        {{/if}}
      </div>
      <div class="small-3 columns">
        {{input name="name" value=impName placeholder="Name" class=nameError:error}}
        {{#if nameError}}
          <small class="error">{{nameError}}</small>
        {{/if}}
      </div>
      <div class="small-3 columns">
        {{input name="email" value=impMail placeholder="E-Mail" class=emailError:error}}
        {{#if emailError}}
          <small class="error">{{emailError}}</small>
        {{/if}}
      </div>
      <div class="small-2 columns">
        <button {{action "add-imp"}} class="button postfix">Pekmez</button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="small-15 columns text-center">
    Türchen vergeben: <em>{{imps.length}}</em><br>
    Lego Star Wars: <em>{{restStarWars}} Türchen übrig</em> &middot; Lego City: <em>{{restCity}} Türchen übrig</em>
  </div>
</div>

<section class="row">
  <div class="small-11 columns">
    <ul class="imps">
      {{#each imps}}
        {{partial "imp"}}
      {{else}}
        <li class="empty"><em>Noch keine Teilnehmer vorhanden. Sei der Erste!</em></li>
      {{/each}}
    </ul>
  </div>
</section>
