<section>
  <header><h2>Teilnehmer</h2></header>
  <ul>
  {{#each}}
    {{partial "imp"}}
  {{/each}}
  </ul>
</section>

<section>
  <form>
    {{input name="name" value=impName placeholder="Name"}}
    {{input name="email" value=impMail placeholder="E-Mail"}}
    {{view "select" name="calendar" prompt="Kalender" value=impCalendar content=calendars}}
    <button {{action "add-imp"}}>Mitmachen</button>
  </form>
</section>
