<div class="magellan-wrapper">
  {{#imp-form}}
    {{#unless authenticated}}
      {{partial "countdown"}}
    {{else}}
        <div class="row collapse prefix-round postfix-round">
          <div class="small-3 columns">
            {{#x-select value=impCalendar classNames="prefix"}}
              <option>Kalender</option>

              {{#each calendars as |calendar|}}
                {{#x-option value=calendar}}{{calendar}}{{/x-option}}
              {{/each}}
            {{/x-select}}
            {{#if calendarError}}
              <small class="error">{{calendarError}}</small>
            {{/if}}
          </div>
          <div class="small-3 columns">
            {{input name="name" value=impName placeholder="Name" class=nameError:error}}
            {{#if nameError}}
              <small class="error">{{nameError}}</small>
            {{/if}}
          </div>
          <div class="small-3 columns">
            {{input name="email" value=impMail placeholder="E-Mail" class=emailError:error}}
            {{#if emailError}}
              <small class="error">{{emailError}}</small>
            {{/if}}
          </div>
          <div class="small-2 columns">
            <button {{action "add-imp"}} class="button postfix">Pekmez</button>
          </div>
        </div>
    {{/unless}}
  {{/imp-form}}
</div>

{{#if authenticated}}
  <div class="row">
    <div class="small-11 columns text-center">
      Türchen vergeben: <em>{{imps.length}}/48</em><br>
      {{starWarsName}}: <em>{{restStarWars}} Türchen übrig</em> &middot; {{cityName}}: <em>{{restCity}} Türchen übrig</em>
    </div>
  </div>
{{/if}}

<section class="row">
  <div class="small-11 columns">
    {{input value=impFilter placeholder="Suche Wichtel"}}
    <ul class="imps">
      {{#each imps as |imp|}}
        <li>
          {{imp.name}}
          <small>
            {{imp.calendar}}
            {{#if imp.tuerchen}}
              <div class="tuerchen">
                Türchen
                <div>{{imp.tuerchen}}</div>
              </div>
            {{/if}}
          </small>
        </li>
      {{else}}
        {{#if authenticated}}
          <li class="empty"><em>Noch keine Teilnehmer vorhanden. Sei der Erste!</em></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</section>
