<section class="row">
  <div class="small-12 columns">
    <header><h2>Teilnehmer</h2></header>
    <ul class="imps">
      {{#each}}
        {{partial "imp"}}
      {{else}}
        <li class="empty"><em>Noch keine Teilnehmer vorhanden. Sei der Erste!</em></li>
      {{/each}}
    </ul>
  </div>
</section>

<form>
  <div class="row collapse prefix-round postfix-round">
    <div class="small-3 columns">
      {{view "select" name="calendar" prompt="Kalender" value=impCalendar content=calendars class="prefix"}}
    </div>
    <div class="small-3 columns">
      {{input name="name" value=impName placeholder="Name"}}
    </div>
    <div class="small-3 columns">
      {{input name="email" value=impMail placeholder="E-Mail"}}
    </div>
    <div class="small-3 columns">
      <button {{action "add-imp"}} class="button postfix">Mitmachen</button>
    </div>
  </div>
</form>
